body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2;
    padding: 10;
    margin: 10;
    background-color: white;
}
.container{
    width: auto;
    margin: auto;
    overflow: hidden;
    
}

.sec1{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('pex.jpg');
  
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    font: 10;
}
header ul{
    margin: 0;
    padding : 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header nav{
    float: right;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    padding:10px 90px;
    background: white;
    box-sizing:border-box;
}
header nav ul{
    list-style: none;
    float:right;
    margin:0;
    padding:0;
}
header nav ul li a {
    line-height: 40px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:15px;
    font-weight: bold;
}
header a:hover{
    color: #000;
    font-weight: bold;
}

.name{
    padding:130px;
    margin-left: 0px;
}
.custom{
    column-count: 2;
    background-color: antiquewhite;
    background-size:cover;
    padding:12px;
}
.custom li{
    border:1px solid #777;
    border-radius: 3px;
    outline:none;
    color: black;
    padding: 04px;
    text-decoration: none;
    margin:10px;
}

.typed-txt{
    font-weight: bold;
    font-size: 35px;
    color: crimson;

}
.cursor{
    display: inline-block;
    width:3px;
    background-color: #ccc;
    
    animation: blink 1s infinite;
}
.cursor.typing{
    animation: none;
}
@keyframes blink{
    0%{background-color: #ccc;}
    49%{background-color: #ccc;}
    50%{background-color:transparent;}
    99%{background-color:transparent;}
    100%{background-color:#ccc;}
}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    text-align: center;
}

.btn{
    border: 1px solid green;
    padding: 10px 30px;
    color:green;
    text-decoration: none;
}

.btn:hover{
    background-color: burlywood;
    color: #000;
}
.btn2{
    border: 1px solid green;
    padding: 10px 30px;
    color:green;
    text-decoration: none;
}
footer{
    padding: 20px;
    color: red;
    text-align: center;
    line-height: 0.2;
    font-size: 15px;
    bottom:0;
    width:100%;
    background: black;
    height: 80px;
  
}
.image{
    width: 350px;
    height:350px;
    margin:6px;
    float:right;   
}
.me{
    text-align: left;
    margin:60px;
}
.num{
    border: 1px solid #11A8bd;
    border-radius: 5px;
    padding: 10px;
    
}
.tal{
    background-color: rgba(241, 213, 213, 0.8);
    padding: 35px;
    margin: 0px;
    text-align: center;
    margin-top: 0px;
    
}
.skil{
    background-color: antiquewhite;
    padding:40px;
    text-align: center;
    margin: 0px;
}
/*rgba(241, 213, 213, 0.8);
*/
#contact{
    background-color: rgba(241, 213, 213, 0.8);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 130px;
    padding-bottom: 70px;
    text-align: center;
    height: 500px;
}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    text-align: center;
}
.button2{
    padding-bottom: 20px;
}
/*
.touch{
    padding-top: 0px;
    margin-top: 0px;
}
*/
form{
    margin:20px;
}
.submit-btn{
    cursor:pointer;
    width:100px;
    margin-left:18px;
    border:none;
    border-radius: 20px;
}
.input-field{
    width:400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #777;
    border-radius: 14px;
    outline:none;
    color: black;
}

.con{
    width:500px;
    background-color: white;
    box-shadow: 0 0 20px 0 #999;
    top:1890px;
    left:45%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.social{
    margin:270px;
    margin-left: 240px;
}
  .social ul{
    display: flex;
    position: absolute;
    
    margin-left: 10px;
  }
  .social ul li{
      list-style: none;
      margin: 0 15px;
  }
  .social ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;

  }
  .social ul li a{
    position: relative;
    display: block;
    width:60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
  }
  
  .social ul li a:hover{
    transform: translate(0,-10px);
}
.social ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social ul li:nth-child(2) a:hover{
    background-color: #55acee;  
}
.social ul li:nth-child(3) a:hover{
    background-color:white;   
}
.social ul li:nth-child(4) a:hover{
    background-color: #0077B5;    
}
